In [1]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns

%matplotlib inline

In [2]:
df = pd.read_csv(r'C:\Users\user\Downloads\energydata_complete (1).csv')
df.head()

,date,Appliances,lights,T1,RH_1,T2,RH_2,T3,RH_3,T4,...,T9,RH_9,T_out,Press_mm_hg,RH_out,Windspeed,Visibility,Tdewpoint,rv1,rv2
0,2016-01-11 17:00:00,60,30,19.89,47.596667,19.2,44.790000,19.79,44.730000,19.000000,...,17.033333,45.53,6.600000,733.5,92.0,7.000000,63.000000,5.3,13.275433,13.275433
1,2016-01-11 17:10:00,60,30,19.89,46.693333,19.2,44.722500,19.79,44.790000,19.000000,...,17.066667,45.56,6.483333,733.6,92.0,6.666667,59.166667,5.2,18.606195,18.606195
2,2016-01-11 17:20:00,50,30,19.89,46.300000,19.2,44.626667,19.79,44.933333,18.926667,...,17.000000,45.50,6.366667,733.7,92.0,6.333333,55.333333,5.1,28.642668,28.642668
3,2016-01-11 17:30:00,50,40,19.89,46.066667,19.2,44.590000,19.79,45.000000,18.890000,...,17.000000,45.40,6.250000,733.8,92.0,6.000000,51.500000,5.0,45.410389,45.410389
4,2016-01-11 17:40:00,60,40,19.89,46.333333,19.2,44.530000,19.79,45.000000,18.890000,...,17.000000,45.40,6.133333,733.9,92.0,5.666667,47.666667,4.9,10.084097,10.084097

In [3]:
df.columns

Index(['date', 'Appliances', 'lights', 'T1', 'RH_1', 'T2', 'RH_2', 'T3',
       'RH_3', 'T4', 'RH_4', 'T5', 'RH_5', 'T6', 'RH_6', 'T7', 'RH_7', 'T8',
       'RH_8', 'T9', 'RH_9', 'T_out', 'Press_mm_hg', 'RH_out', 'Windspeed',
       'Visibility', 'Tdewpoint', 'rv1', 'rv2'],
      dtype='object')

In [4]:
df = df.rename(columns = {'date':'date','Appliances':'appliances','lights':'lights','T1':'kitchen_temp','RH_1':'kitchen_humidity','T2':'livingroom_temp',
                         'RH_2':'livingroom_humidity','T3':'laundry_temp','RH_3':'laundry_humidity','T4':'office_temp','RH_4':'office_humidity',
                         'T5':'bathroom_temp','RH_5':'bathroom_humidity','T6':'outside_temp(north)','RH_6':'outside_humidity','T7':'ironingrm_temp',
                         'RH_7':'ironingrm_humidity','T8':'teenagerrm_temp','RH_8':'teenagerrm_humidity','T9':'parentroom_temp','RH_9':'parentroom_humidity',
                         'T_out':'T_out', 'Press_mm_hg':'Press_mm_hg', 'RH_out':'RH_out', 'Windspeed':'Windspeed',
       'Visibility':'Visibility', 'Tdewpoint':'Tdewpoint','rv1':'random_variable_1','rv2':'random_variable_2'})

In [5]:
df.head()

,date,appliances,lights,kitchen_temp,kitchen_humidity,livingroom_temp,livingroom_humidity,laundry_temp,laundry_humidity,office_temp,...,parentroom_temp,parentroom_humidity,T_out,Press_mm_hg,RH_out,Windspeed,Visibility,Tdewpoint,random_variable_1,random_variable_2
0,2016-01-11 17:00:00,60,30,19.89,47.596667,19.2,44.790000,19.79,44.730000,19.000000,...,17.033333,45.53,6.600000,733.5,92.0,7.000000,63.000000,5.3,13.275433,13.275433
1,2016-01-11 17:10:00,60,30,19.89,46.693333,19.2,44.722500,19.79,44.790000,19.000000,...,17.066667,45.56,6.483333,733.6,92.0,6.666667,59.166667,5.2,18.606195,18.606195
2,2016-01-11 17:20:00,50,30,19.89,46.300000,19.2,44.626667,19.79,44.933333,18.926667,...,17.000000,45.50,6.366667,733.7,92.0,6.333333,55.333333,5.1,28.642668,28.642668
3,2016-01-11 17:30:00,50,40,19.89,46.066667,19.2,44.590000,19.79,45.000000,18.890000,...,17.000000,45.40,6.250000,733.8,92.0,6.000000,51.500000,5.0,45.410389,45.410389
4,2016-01-11 17:40:00,60,40,19.89,46.333333,19.2,44.530000,19.79,45.000000,18.890000,...,17.000000,45.40,6.133333,733.9,92.0,5.666667,47.666667,4.9,10.084097,10.084097

In [6]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 19735 entries, 0 to 19734
Data columns (total 29 columns):
 #   Column               Non-Null Count  Dtype
---  ------               --------------  -----
 0   date                 19735 non-null  object
 1   appliances           19735 non-null  int64
 2   lights               19735 non-null  int64
 3   kitchen_temp         19735 non-null  float64
 4   kitchen_humidity     19735 non-null  float64
 5   livingroom_temp      19735 non-null  float64
 6   livingroom_humidity  19735 non-null  float64
 7   laundry_temp         19735 non-null  float64
 8   laundry_humidity     19735 non-null  float64
 9   office_temp          19735 non-null  float64
 10  office_humidity      19735 non-null  float64
 11  bathroom_temp        19735 non-null  float64
 12  bathroom_humidity    19735 non-null  float64
 13  outside_temp(north)  19735 non-null  float64
 14  outside_humidity     19735 non-null  float64
 15  ironingrm_temp       19735 non-null  float64
 16  ironingrm_humidity   19735 non-null  float64
 17  teenagerrm_temp      19735 non-null  float64
 18  teenagerrm_humidity  19735 non-null  float64
 19  parentroom_temp      19735 non-null  float64
 20  parentroom_humidity  19735 non-null  float64
 21  T_out                19735 non-null  float64
 22  Press_mm_hg          19735 non-null  float64
 23  RH_out               19735 non-null  float64
 24  Windspeed            19735 non-null  float64
 25  Visibility           19735 non-null  float64
 26  Tdewpoint            19735 non-null  float64
 27  random_variable_1    19735 non-null  float64
 28  random_variable_2    19735 non-null  float64
dtypes: float64(26), int64(2), object(1)
memory usage: 4.4+ MB

In [7]:
df.describe()

,appliances,lights,kitchen_temp,kitchen_humidity,livingroom_temp,livingroom_humidity,laundry_temp,laundry_humidity,office_temp,office_humidity,...,parentroom_temp,parentroom_humidity,T_out,Press_mm_hg,RH_out,Windspeed,Visibility,Tdewpoint,random_variable_1,random_variable_2
count,19735.000000,19735.000000,19735.000000,19735.000000,19735.000000,19735.000000,19735.000000,19735.000000,19735.000000,19735.000000,...,19735.000000,19735.000000,19735.000000,19735.000000,19735.000000,19735.000000,19735.000000,19735.000000,19735.000000,19735.000000
mean,97.694958,3.801875,21.686571,40.259739,20.341219,40.420420,22.267611,39.242500,20.855335,39.026904,...,19.485828,41.552401,7.411665,755.522602,79.750418,4.039752,38.330834,3.760707,24.988033,24.988033
std,102.524891,7.935988,1.606066,3.979299,2.192974,4.069813,2.006111,3.254576,2.042884,4.341321,...,2.014712,4.151497,5.317409,7.399441,14.901088,2.451221,11.794719,4.194648,14.496634,14.496634
min,10.000000,0.000000,16.790000,27.023333,16.100000,20.463333,17.200000,28.766667,15.100000,27.660000,...,14.890000,29.166667,-5.000000,729.300000,24.000000,0.000000,1.000000,-6.600000,0.005322,0.005322
25%,50.000000,0.000000,20.760000,37.333333,18.790000,37.900000,20.790000,36.900000,19.530000,35.530000,...,18.000000,38.500000,3.666667,750.933333,70.333333,2.000000,29.000000,0.900000,12.497889,12.497889
50%,60.000000,0.000000,21.600000,39.656667,20.000000,40.500000,22.100000,38.530000,20.666667,38.400000,...,19.390000,40.900000,6.916667,756.100000,83.666667,3.666667,40.000000,3.433333,24.897653,24.897653
75%,100.000000,0.000000,22.600000,43.066667,21.500000,43.260000,23.290000,41.760000,22.100000,42.156667,...,20.600000,44.338095,10.408333,760.933333,91.666667,5.500000,40.000000,6.566667,37.583769,37.583769
max,1080.000000,70.000000,26.260000,63.360000,29.856667,56.026667,29.236000,50.163333,26.200000,51.090000,...,24.500000,53.326667,26.100000,772.300000,100.000000,14.000000,66.000000,15.500000,49.996530,49.996530

In [8]:
from sklearn.linear_model import LinearRegression
from sklearn.metrics import r2_score
from sklearn.model_selection import train_test_split

#### Question 12

In [39]:
x = df.livingroom_temp

y = df['outside_temp(north)']

In [40]:
X_train, X_test,y_train,y_test = train_test_split(x,y,test_size=0.3, random_state=42)

In [41]:
model = LinearRegression()
model.fit(x.values.reshape(-1, 1), y)

LinearRegression()

In [42]:
y_pred = model.predict(X_test.values.reshape(-1,1))
round(r2_score(y_test, y_pred),2)

0.64

#### Question 13

In [14]:
#13
from sklearn.preprocessing import MinMaxScaler
scaler = MinMaxScaler()

In [15]:
df = df.drop(['date','lights'], axis=1)

In [16]:
scaled_df = pd.DataFrame(scaler.fit_transform(df), columns=df.columns)

In [17]:
scaled_x= scaled_df.drop('appliances', axis=1)
scaled_y = scaled_df.appliances

In [18]:
X_train, X_test,y_train,y_test = train_test_split(scaled_x,scaled_y,test_size=0.3, random_state=42)

In [19]:
model.fit(X_train,y_train)

LinearRegression()

In [20]:
y_pred2 = model.predict(X_test)

In [21]:
from sklearn.metrics import mean_absolute_error

In [22]:
mae = mean_absolute_error(y_test,y_pred2)

In [23]:
#13
round(mae,2)

0.05

#### Question 14

In [24]:
#14
from sklearn.metrics import mean_squared_error

In [25]:
rmse = np.sqrt(mean_squared_error(y_test,y_pred))

In [26]:
#14
round(rmse,3)

9.218

#### Question 15

In [27]:
#y_pred2 = model_r.predict(X_test)
rmse = np.sqrt(mean_squared_error(y_test,y_pred2))

In [28]:
round(rmse,3)

0.088

#### Question 16

In [37]:
mean_squared_error(y_test,y_pred2)

0.0076580275287398926

In [29]:
from sklearn.metrics import r2_score

In [30]:
rscore = r2_score(y_test, y_pred2)

In [31]:
round(rscore,2)

0.15

#### Question 18

In [32]:
from sklearn.linear_model import Ridge

In [33]:
model_r = Ridge(alpha=0.4)
model_r.fit(X_train,y_train)

Ridge(alpha=0.4)

In [34]:
y_pred3 = model_r.predict(X_test)
rmse = np.sqrt(mean_squared_error(y_test,y_pred3))
round(rmse,3)

0.088

Ridge(alpha=0.4)

#### Question 20

In [35]:
from sklearn.linear_model import Lasso

0.088

In [36]:
lasso = Lasso(alpha=0.001)
lasso.fit(X_train,y_train)

Lasso(alpha=0.001)

In [37]:
y_pred4 = lasso.predict(X_test)
rmse = np.sqrt(mean_squared_error(y_test,y_pred4))
round(rmse,3)

0.094

In [ ]:
scaled_df.corr()

In [59]:
#rss
np.sum(np.square(y_test) - y_pred)

-46769.18995425188

0.094

In [38]:
y_pred2 = model_r.predict(X_test)
rmse = np.sqrt(mean_squared_error(y_test,y_pred2))

In [35]:
rmse = np.sqrt(mean_squared_error(y_test,y_pred2))

In [36]:
round(rmse,3)

0.088